<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <% if @club.logo.attached? %>
      <%= image_tag @club.logo, style: "width: 200px" %>
    <% end %>

    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :youtube %>
    <%= form.text_field :youtube %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram %>
  </div>

  <div class="field">
    <%= form.label :tiktok %>
    <%= form.text_field :tiktok %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
