<p id="notice"><%= notice %></p>
<h1 class="heading">Clubs</h1>

<div class="club-container">
  <% @clubs.each do |club| %>

    <div class="club-box">
        <% if club.logo.attached? %>
          <%= link_to image_tag(club.logo, size: "80x80"), club, class:"club-logo" %>
          <%= link_to club.name, club, class:"club-name" %>
      <% else %>
        <%= link_to club.name, club, class:"club-name" %>
      <% end %>
            <div class="club-functions">
              <% if user_signed_in? %>
              <%= link_to 'Edit', edit_club_path(club) %>
              <%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
  <div class="new-club">
  <%= link_to 'New Club', new_club_path %>
  </div>
  <% end %>
