<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>


<% if @club.logo.attached? %>
  <p>
  <%= image_tag @club.logo, :size => "200x200" %>
</p>
<% end %>

<p>
  <strong>Website:</strong>
  <%= link_to @club.website, @club.website, target: "_blank" %>
</p>

<p>
  <strong>YouTube:</strong>
  <%= link_to @club.youtube, @club.youtube, target: "_blank" %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= link_to @club.facebook, @club.facebook, target: "_blank" %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= link_to @club.twitter, @club.twitter, target: "_blank" %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= link_to @club.instagram, @club.instagram, target: "_blank" %>
</p>

<p>
  <strong>Tiktok:</strong>
  <%= link_to @club.tiktok, @club.tiktok, target: "_blank" %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
