<% content_for :meta_title, "#{@club.name} Live Streams" %>
<% content_for :meta_description, "All #{@club.name} live streams with live stat links where possible" %>


<h1 class='heading'><%= @club.name %></h1>
<% if @club.logo.attached? %>
  <p>
    <%= image_tag @club.logo, size: '200x200' %>
  </p>
<% end %>

<p>
  <% if @club.website.present? %>
    <%= link_to image_tag('social/web.png', size: '20x20'), @club.website, target: '_blank' %>
  <% end %>
  <% if @club.youtube.present? %>
    <%= link_to image_tag('social/youtube.png', size: '20x20'), @club.youtube, target: '_blank' %>
  <% end %>
  <% if @club.facebook.present? %>
    <%= link_to image_tag('social/facebook.png', size: '20x20'), @club.facebook, target: '_blank' %>
  <% end %>
  <% if @club.twitter.present? %>
    <%= link_to image_tag('social/twitter.png', size: '20x20'), @club.twitter, target: '_blank' %>
  <% end %>
  <% if @club.instagram.present? %>
    <%= link_to image_tag('social/instagram.png', size: '20x20'), @club.instagram, target: '_blank' %>
  <% end %>
  <% if @club.tiktok.present? %>
    <%= link_to image_tag('social/tiktok.png', size: '20x20'), @club.tiktok, target: '_blank' %>
  <% end %>
</p>
 <div class='comp-clubs'>
  <h2 class='heading'>Competitions:</h2>
  <div class='comp-clubs-logos'>
    <% @club.competitions.each do |competition| %>
      <div class="club-comp-item">
        <% if competition.logo.attached? %>
          <%= link_to image_tag(competition.logo, size: '50x50'), competition, :title => competition.name %>
        <% end %>
      </div>
    <% end %>
  </div>
   <div class='club-teams'>
     <h2 class='heading'>Club Teams:</h2>
     <div class='comp-clubs-logos'>
       <% @club.teams.each do |team| %>
         <% if team.logo.attached? %>
         <div class="club-teams-item">
           <%= link_to image_tag(team.logo, size: '50x50'), team, :title => team.name %>
        </div>
         <% end %>
       <% end %>
     </div>
</div>

<h1 class='heading'>Upcoming <%=@club.name%> live streams</h1>
<div class='container'>
  <%= render "shared/upcoming_streams", {upcoming_streams: @club_games} %>

</br>
<h1 class='heading'>Past <%=@club.name%> live streams</h1>
   <%= render "shared/past_streams", { past_streams: @past_games} %>
</div>
   <% if current_user && current_user.admin %>
     <%= link_to 'Edit', edit_club_path(@club) %> |
     <%= link_to 'Destroy', @club, method: :delete, data: { confirm: 'Are you sure?' } %> |
     <%= link_to 'Back', clubs_path %>
   <% end %>
