<% content_for :meta_title, "#{@team.name} Live Streams" %>
<% content_for :meta_description, "All #{@team.name+' live streams with live stat links where possible'}" %>

<h1 class="heading"><%= @team.name %></h1>
<% if @team.logo.attached? %>
  <p>
  <%= image_tag @team.logo, :size => "200x200" %>
</p>
<% else %>
  <%= image_tag @club.logo, :size => "200x200" %>
<% end %>

<p>
<% if @team.website.present? || @club.website.present? %>
<%= link_to image_tag("social/web.png", :size => "20x20"), show_club_website(@team), target: "_blank" %>
<% end %>
<% if @team.youtube.present? || @club.youtube.present? %>
<%= link_to image_tag("social/youtube.png", :size => "20x20"), show_club_youtube(@team), target: "_blank" %>
<% end %>
  <% if @team.facebook.present? || @club.facebook.present? %>
<%= link_to image_tag("social/facebook.png", :size => "20x20"), show_club_facebook(@team), target: "_blank" %>
<% end %>
  <% if @team.twitter.present? || @club.twitter.present? %>
<%= link_to image_tag("social/twitter.png", :size => "20x20"), show_club_twitter(@team), target: "_blank" %>
<% end %>
  <% if @team.instagram.present? || @club.instagram.present? %>
<%= link_to image_tag("social/instagram.png", :size => "20x20"), show_club_instagram(@team), target: "_blank" %>
<% end %>
<% if @team.tiktok.present? || @club.tiktok.present? %>
<%= link_to image_tag("social/tiktok.png", :size => "20x20"), show_club_tiktok(@team), target: "_blank" %>
<% end %>
</p>
<div class="comp-teams">
  <h2 class="heading">Competitions:</h2>
  <div class="comp-teams-logos">
    <% @team.competitions.each do |competition| %>
      <% if competition.logo.attached? %>
        <%= link_to image_tag(competition.logo, :size => "50x50"), competition %>
      <% end %>
    <% end %>
  </div>
</div>
<div class='team-club'>
  <h2 class='heading'>Club:</h2>
  <div class='comp-clubs-logos'>
      <% if @club.logo.attached? %>
       <div class="club-teams-item">
           <%= link_to image_tag(@club.logo, size: '50x50'), @club, :title => @club.name %>
        </div>
      <% end %>
  </div>
</div>

<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', teams_path %>
<% end %>

<h1 class="heading">Upcoming <%=@team.name%> live streams</h1>

<div class="container">
  <%= render "shared/upcoming_streams", {upcoming_streams: @team_games} %>


  </br>
  <h1 class="heading">Past <%=@team.name%> live streams</h1>
  <%= render "shared/past_streams", { past_streams: @past_games} %>
</div>