<% set_meta_tags title: "#{@team.name+' Live Streams'}", description: "All #{@team.name+' live streams with live stat links where possible'}" %>
<h1 class="heading"><%= @team.name %></h1>
<% if @team.logo.attached? %>
  <p>
  <%= image_tag @team.logo, :size => "200x200" %>
</p>
<% end %>

<p>
<% if @team.website.present? || @club.website.present? %>
<%= link_to image_tag("social/web.png", :size => "20x20"), show_club_website(@team), target: "_blank" %>
<% end %>
<% if @team.youtube.present? || @club.youtube.present? %>
<%= link_to image_tag("social/youtube.png", :size => "20x20"), show_club_youtube(@team), target: "_blank" %>
<% end %>
  <% if @team.facebook.present? || @club.facebook.present? %>
<%= link_to image_tag("social/facebook.png", :size => "20x20"), show_club_facebook(@team), target: "_blank" %>
<% end %>
  <% if @team.twitter.present? || @club.twitter.present? %>
<%= link_to image_tag("social/twitter.png", :size => "20x20"), show_club_twitter(@team), target: "_blank" %>
<% end %>
  <% if @team.instagram.present? || @club.instagram.present? %>
<%= link_to image_tag("social/instagram.png", :size => "20x20"), show_club_instagram(@team), target: "_blank" %>
<% end %>
<% if @team.tiktok.present? || @club.tiktok.present? %>
<%= link_to image_tag("social/tiktok.png", :size => "20x20"), show_club_tiktok(@team), target: "_blank" %>
<% end %>
</p>
<div class="comp-teams">
  <h2 class="heading">Competitions:</h2>
  <div class="comp-teams-logos">
    <% @team.competitions.each do |competition| %>
      <% if competition.logo.attached? %>
        <%= link_to image_tag(competition.logo, :size => "50x50"), competition %>
      <% end %>
    <% end %>
  </div>
</div>
<div class='team-club'>
  <h2 class='heading'>Club:</h2>
  <div class='comp-clubs-logos'>
    <%= link_to @club.name, @club %>
      <% if @club.logo.attached? %>
        <%= link_to image_tag(@club.logo, size: '50x50'), @club %>
      <% end %>
  </div>
</div>

<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', teams_path %>
<% end %>

<h1 class="heading">Upcoming <%=@team.name%> live streams</h1>
<div class="container">
  <% if @team_games.blank? %>
    <p><%=@team.name%> do not currently have any scheduled streams.</p>
  <% else %>
  <!-- Dynamically insert date -->
  <% @team_games.each do |team_game|%>
    <h2 class="comp-date"><%= team_game.first %></h2>
    <!-- Stream Info is set as grid with 3 columns and auto rows -->
    <div class="stream-info">
      <!-- Stream item is a single item created dynamically for each entry -->
      <% team_game.last.each do |game| %>
        <div class="stream-item">
          <!-- Play button that takes you to the live event -->
          <%= link_to raw('<i class="far fa-play-circle"></i>'), game, :method =>"get", class:"live" %>

          <!-- Team division -->
          <div class="teams">
            <!-- Team details on left -->
            <div class="home-team">
              <!-- Home team logo -->
              <%= link_to image_tag(game.home_team.logo), game.home_team %>
              <p class="name-city"><%= link_to game.home_team.decorated_name, game.home_team %></p>
              <!--<p class="name-team">RIDERS</p>-->
            </div>
            <p class="at">VS</p>
            <!-- Team details on right -->
            <div class="away-team">
              <!-- Away team logo-->
              <%= link_to image_tag(game.away_team.logo), game.away_team  %>
              <p class="name-city"><%= link_to game.away_team.decorated_name, game.away_team %></p>
              <!--<p class="name-team">RAIDERS</p>-->
            </div>

          </div>
          <!-- Fixture information -->
          <div class="fixture-details">
            <!-- Tipoff time -->
            <p class="time"><%= game.formatted_tip_time %></p>
            <% if game.is_live? %>
              <p class="live-marker"><i class="fas fa-circle"></i> LIVE</p>
            <% end %>
          <div class="competition">
            <!-- Competition logo -->
            <%= link_to image_tag(game.competition.logo), competition_path(game.competition) %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
  </br>
<h1 class="heading">Past <%=@team.name%> live streams</h1>
    <% if @past_games.blank? %>
      <p><%=@team.name%> do not have any streams in our database yet.</p>
    <% else %>
<table class="table">
  <thead>

  <tr>
    <th>Competition</th>
    <th>Home team</th>
    <th>Away team</th>
    <th>Date</th>
    <th>Tip time</th>
    <th>Stream link</th>
    <th>Live stats link</th>
    <% if current_user && current_user.admin %>
      <th colspan="3"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @past_games.each do |game| %>
    <tr>
      <td><%= link_to game.competition.name, game.competition %></td>
      <td><%= link_to game.home_team.decorated_name, game.home_team %></td>
      <td><%= link_to game.away_team.decorated_name, game.away_team %></td>
      <td><%= game.date.strftime("%d/%m/%Y") %></td>
      <td><%= game.formatted_tip_time %></td>
      <td><%= link_to image_tag("emojis/tv.png"), game_path(game), target: "_blank" %></td></td>
      <td><%= link_to image_tag("emojis/bar-chart.png"), game.live_stat_url, target: "_blank" %></td>
      <% if current_user && current_user.admin %>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<div class="pagination-links">
  <%= will_paginate @past_games %>
</div>