<%= form_with(model: season) do |form| %>
  <% if season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
        <% season.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Competitions" %>
    <%= hidden_field_tag "season[competition_ids][]", nil %>
    <div class="competition-options">
      <% Competition.all.each do |competition| %>
        <div class="checkbox-group">
          <%= check_box_tag "season[competition_ids][]", competition.id, @season.competitions.include?(competition), id: dom_id(competition) %>
          <%= label_tag dom_id(competition), competition.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
