<%= form_with(model: membership) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :competition %>
    <%= form.text_field :competition %>
  </div>

  <div class="field">
    <%= form.label :club %>
    <%= form.text_field :club %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
