<p id="notice"><%= notice %></p>

<p>
  <strong>Competition:</strong>
  <%= @membership.competition %>
</p>

<p>
  <strong>Club:</strong>
  <%= @membership.club %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
