<%= form_with(model: competition) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
        <% competition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season %>
  </div>

  <div class="field">
    <% if @competition.logo.attached? %>
      <%= image_tag @competition.logo, style: "width: 200px; display: block" %>
    <% end %>

    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div class="field">
    <%= form.label "Organisation" %>
    <div class="competition-options">
      <% Organisation.all.each do |organisation| %>
        <div class="radio-button-group">
          <%= form.radio_button :organisation_id, organisation.id %>
          <%= label_tag dom_id(organisation), organisation.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :youtube %>
    <%= form.text_field :youtube %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram %>
  </div>

  <div class="field">
    <%= form.label :tiktok %>
    <%= form.text_field :tiktok %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
