<% set_meta_tags title: 'British Basketball Competition Live Streams', description: 'All British basketball leagues with links to their live streams' %>
<h1 class="heading">Competitions</h1>

<div class="container comp-container">
  <% @competitions.each do |competition| %>
      <div class="comp-box">
        <% if competition.logo.attached? %>
          <div class="comp-logo-name">
            <%= link_to image_tag(competition.logo), competition, class:"comp-competition" %>
            <%= link_to competition.name, competition, class:"comp-competition-name" %>
          </div>
        <% else %>
          <%= link_to competition.name, competition, class:"comp-competition-name" %>
        <% end %>
      <div class="competition-functions">
        <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_competition_path(competition) %>
          <%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>

  <% end %>
    </div>
  <% if user_signed_in? %>
    <a href="/competitions/new">
    <button class="btn btn-success">New Competition</button>
    </a>
  <% end %>