<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<% if @competition.logo.attached? %>
  <p>
    <%= image_tag @competition.logo, :size => "200x200" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>

<h1 class="heading">Upcoming <%=@competition.name%> live streams</h1>
</br>
<% @grouped_games.each do |hash_elements|%>
  <h3 class="heading"> <%= hash_elements.first %> </h3>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Tip time</th>
      <th>Home team</th>
      <th>Away team</th>
      <th>Competition</th>
      <th>Live stats</th>
      <th>Stream</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% hash_elements.last.each do |game| %>
      <tr>
        <td><%= game.tip_time.strftime("%H:%M") %></td>
        <td><%= link_to game.home_club.name, club_path(game.home_club) %></td>
        <td><%= link_to game.away_club.name, club_path(game.away_club) %></td>
        <td><%= link_to game.competition.name, competition_path(game.competition) %></td>
        <td><%= link_to image_tag("emojis/bar-chart.png"), game.live_stat_url, target: "_blank" %></td>
        <td><%= link_to image_tag("emojis/tv.png"), game.stream_url, target: "_blank" %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />
<% end %>

