<% content_for :meta_title, "#{@competition.name+' Live Streams'}" %>
<% content_for :meta_description, "All #{@competition.name+' live streams with live stat links where possible'}" %>


<div class="comp-info">
  <div class="comp-logo">
    <% if @competition.logo.attached? %>
        <%= image_tag @competition.logo, :size => "200x200" %>
    <% end %>
  </div>
  <h1 class="heading">
    <%= @competition.name %>
  </h1>

  <div class="comp-links">
    <strong>Website:</strong>
    <%= link_to "#{@competition.website}", @competition.website, target: "_blank" %>
    <div class="comp-socials">
      <% if @competition.youtube.present? %>
        <%= link_to image_tag("social/youtube.png", :size => "20x20"), @competition.youtube, target: "_blank" %>
      <% end %>
      <% if @competition.facebook.present? %>
        <%= link_to image_tag("social/facebook.png", :size => "20x20"), @competition.facebook, target: "_blank" %>
      <% end %>
      <% if @competition.twitter.present? %>
        <%= link_to image_tag("social/twitter.png", :size => "20x20"), @competition.twitter, target: "_blank" %>
      <% end %>
      <% if @competition.instagram.present? %>
        <%= link_to image_tag("social/instagram.png", :size => "20x20"), @competition.instagram, target: "_blank" %>
      <% end %>
      <% if @competition.tiktok.present? %>
        <%= link_to image_tag("social/tiktok.png", :size => "20x20"), @competition.tiktok, target: "_blank" %>
      <% end %>
    </div>
    <% if current_user && current_user.admin %>
    <div class="comp-controls">
      <%= link_to 'Edit', edit_competition_path(@competition) %> |
      <%= link_to 'Back', competitions_path %>
    </div>
    <% end %>
  </div>

  <div class="comp-teams">
    <h2 class="heading">teams:</h2>
    <div class="comp-teams-logos">
      <% @competition.teams.each do |team| %>
        <% if team.logo.attached? %>
          <%= link_to image_tag(team.logo, :size => "50x50"), team %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
  <h2 class="heading">Upcoming <%=@competition.name%> live streams</h2>
  <div class="container">
    <%= render "shared/upcoming_streams", {upcoming_streams: @grouped_games} %>


    <h2 class="heading">Past <%=@competition.name%> live streams</h2>
    <%= render "shared/past_streams", { past_streams: @past_games} %>
  </div>