<% set_meta_tags title: "#{@competition.name+' Live Streams'}", description: "All #{@competition.name+' live streams with live stat links where possible'}" %>
<div class="comp-info">
  <div class="comp-logo">
    <% if @competition.logo.attached? %>
        <%= image_tag @competition.logo, :size => "200x200" %>
    <% end %>
  </div>
  <h1 class="heading">
    <%= @competition.name %>
  </h1>

  <div class="comp-links">
    <strong>Website:</strong>
    <%= link_to "#{@competition.website}", @competition.website, target: "_blank" %>
    <div class="comp-socials">
      <% if @competition.youtube.present? %>
        <%= link_to image_tag("social/youtube.png", :size => "20x20"), @competition.youtube, target: "_blank" %>
      <% end %>
      <% if @competition.facebook.present? %>
        <%= link_to image_tag("social/facebook.png", :size => "20x20"), @competition.facebook, target: "_blank" %>
      <% end %>
      <% if @competition.twitter.present? %>
        <%= link_to image_tag("social/twitter.png", :size => "20x20"), @competition.twitter, target: "_blank" %>
      <% end %>
      <% if @competition.instagram.present? %>
        <%= link_to image_tag("social/instagram.png", :size => "20x20"), @competition.instagram, target: "_blank" %>
      <% end %>
      <% if @competition.tiktok.present? %>
        <%= link_to image_tag("social/tiktok.png", :size => "20x20"), @competition.tiktok, target: "_blank" %>
      <% end %>
    </div>
    <% if current_user && current_user.admin %>
    <div class="comp-controls">
      <%= link_to 'Edit', edit_competition_path(@competition) %> |
      <%= link_to 'Back', competitions_path %>
    </div>
    <% end %>
  </div>

  <div class="comp-teams">
    <h2 class="heading">teams:</h2>
    <div class="comp-teams-logos">
      <% @competition.teams.each do |team| %>
        <% if team.logo.attached? %>
          <%= link_to image_tag(team.logo, :size => "50x50"), team %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
  <h2 class="heading">Upcoming <%=@competition.name%> live streams</h2>
  <div class="container">
    <% if @grouped_games.blank? %>
      <p>There are currently no scheduled streams!</p>
    <% else %>
    <!-- Dynamically insert date -->
    <% @grouped_games.each do |grouped_game|%>
      <h2 class="comp-date"><%= grouped_game.first %></h2>
      <!-- Stream Info is set as grid with 3 columns and auto rows -->
      <div class="stream-info">
        <!-- Stream item is a single item created dynamically for each entry -->
        <% grouped_game.last.each do |game| %>
          <div class="stream-item">
            <!-- Play button that takes you to the live event -->
            <%= link_to raw('<i class="far fa-play-circle"></i>'), game, :method =>"get", class:"live" %>

            <!-- Team division -->
            <div class="teams">
              <!-- Team details on left -->
              <div class="home-team">
                <!-- Home team logo -->
                <%= link_to image_tag(game.home_team.logo), game.home_team %>
                <p class="name-city"><%= link_to game.home_team.name, game.home_team %></p>
                <!--<p class="name-team">RIDERS</p>-->
              </div>
              <p class="at">VS</p>
              <!-- Team details on right -->
              <div class="away-team">
                <!-- Away team logo-->
                <%= link_to image_tag(game.away_team.logo), game.away_team  %>
                <p class="name-city"><%= link_to game.away_team.name, game.away_team %></p>
                <!--<p class="name-team">RAIDERS</p>-->
              </div>

            </div>
            <!-- Fixture information -->
            <div class="fixture-details">
              <!-- Tipoff time -->
              <p class="time"><%= game.formatted_tip_time %></p>
              <p class="live-marker hidden"><i class="fas fa-circle"></i> LIVE</p>
            </div>
            <div class="competition">
              <!-- Competition logo -->
              <%= link_to image_tag(game.competition.logo), competition_path(game.competition) %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    <% end %>

    <h2 class="heading">Past <%=@competition.name%> live streams</h2>
      <% if @past_games.blank? %>
        <p>The <%=@competition.name%> do not have any streams in our database yet.</p>
      <% else %>
      <table class="table">
        <thead>

        <tr>
          <th>Home team</th>
          <th>Away team</th>
          <th>Date</th>
          <th>Tip time</th>
          <th>Stream link</th>
          <th>Live stats link</th>
          <% if current_user && current_user.admin %>
            <th colspan="3"></th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @past_games.each do |game| %>
          <tr>
            <td><%= link_to game.home_team.name, game.home_team %></td>
            <td><%= link_to game.away_team.name, game.away_team %></td>
            <td><%= game.date.strftime("%d/%m/%Y") %></td>
            <td><%= game.formatted_tip_time %></td>
            <td><%= link_to image_tag("emojis/tv.png"), game_path(game), target: "_blank" %></td></td>
            <td><%= link_to image_tag("emojis/bar-chart.png"), game.live_stat_url, target: "_blank" %></td>
            <% if current_user && current_user.admin %>
              <td><%= link_to 'Show', game %></td>
              <td><%= link_to 'Edit', edit_game_path(game) %></td>
              <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
    <% end %>
        </tbody>
      </table>

    <div class="pagination-links">
      <%= will_paginate @past_games %>
    </div>