<%= form_with(model: stream) do |form| %>
  <% if stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
        <% stream.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :competition, class:"form-control", placeholder: "Competition" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :home_team, class:"form-control", placeholder: "Home Team" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :away_team, class:"form-control", placeholder: "Away Team" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label :tip_time %>
    <%= form.time_select :tip_time, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :stream_link, class:"form-control", placeholder: "Stream link" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :live_stats_link, class:"form-control", placeholder: "Stats link" %>
  </div>
  </br>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
