<p id="notice"><%= notice %></p>

<h1>Streams</h1>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Home team</th>
      <th>Away team</th>
      <th>Date</th>
      <th>Tip time</th>
      <th>Stream link</th>
      <th>Live stats link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.competition %></td>
        <td><%= stream.home_team %></td>
        <td><%= stream.away_team %></td>
        <td><%= stream.date %></td>
        <td><%= stream.tip_time %></td>
        <td><%= stream.stream_link %></td>
        <td><%= stream.live_stats_link %></td>
        <td><%= link_to 'Show', stream %></td>
        <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
        <td><%= link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream', new_stream_path %>
