<p>
  <strong>Competition:</strong>
  <%= @stream.game.competition.name %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @stream.game.home_club.name %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @stream.game.away_club.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stream.game.date %>
</p>

<p>
  <strong>Tip time:</strong>
  <%= @stream.game.tip_time %>
</p>

<p>
  <strong>Stream link:</strong>
  <%= @stream.stream_url %>
</p>

<p>
  <strong>Live stats link:</strong>
  <%= @stream.game.live_stats_url %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream), class:"btn btn-secondary" %>
<%= link_to 'Back', streams_path, class:"btn btn-secondary" %>
