<iframe width="100%" height="700" src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(@stream.game.stream_url.to_s %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
  <strong>Date:</strong>
  <%= @stream.game.date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Tip time:</strong>
  <%= @stream.game.tip_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @stream.game.home_club.name %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @stream.game.away_club.name %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @stream.game.competition.name %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @stream.game.stream_url %>
</p>

<p>
  <strong>Live stats:</strong>
  <%= @stream.game.live_stats_url %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream), class:"btn btn-secondary" %>
<%= link_to 'Back', streams_path, class:"btn btn-secondary" %>
