<% if @past_games.blank? %>
  <p>The <%=@competition.name%> do not have any streams in our database yet.</p>
<% else %>
  <table class="table">
    <thead>

    <tr>
      <th>Home team</th>
      <th>Away team</th>
      <th>Date</th>
      <th>Tip time</th>
      <th>Stream link</th>
      <th>Live stats link</th>
      <% if current_user && current_user.admin %>
        <th colspan="3"></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @past_games.each do |game| %>
      <tr>
        <td><%= link_to game.home_team.decorated_name, game.home_team %></td>
        <td><%= link_to game.away_team.decorated_name, game.away_team %></td>
        <td><%= game.date.strftime("%d/%m/%Y") %></td>
        <td><%= game.formatted_tip_time %></td>
        <td><%= link_to image_tag("emojis/tv.png"), game_path(game), target: "_blank" %></td></td>
        <td><%= link_to image_tag("emojis/bar-chart.png"), game.live_stat_url, target: "_blank" %></td>
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<div class="pagination-links">
  <%= will_paginate @past_games %>
</div>