<p id="notice"><%= notice %></p>

<h1 class="heading">Upcoming British basketball live streams</h1>
</br>
<% @grouped_games.each do |hash_elements|%>
  <h3 class="heading"> <%= hash_elements.first %> </h3>
  <% hash_elements.last.each do |game| %>

  <div class="streams-table">
      <div class="competition-logo"><%= link_to image_tag(game.competition.logo, :size => "30x30"), competition_path(game.competition) %></div>
      <div class="tip-off"><%= game.tip_time.strftime("%H:%M") %></div>
      <div class="home-club-logo"><%= link_to image_tag(game.home_club.logo, :size => "60x60"), game.home_club %></div>
      <div class="game-link"><%= link_to "#{game.home_club.name} vs #{game.away_club.name}", game_path(game) %></div>
      <div class="away-club-logo"><%= link_to image_tag(game.away_club.logo, :size => "60x60"), game.away_club  %></div>
      </div>
    </br>
    <% end %>
<% end %>

<%= link_to 'New Stream', new_game_path, class:"btn btn-warning" %>