<% if current_user && current_user.admin %>
<h1 class="heading">Pending British basketball live streams</h1>
<div class="container">
  <!-- Dynamically insert date -->
  <% @unapproved_games.each do |hash_elements|%>
    <h2 class="comp-date"><%= hash_elements.first %></h2>
    <!-- Stream Info is set as grid with 3 columns and auto rows -->
    <div class="stream-info">
      <!-- Stream item is a single item created dynamically for each entry -->
      <% hash_elements.last.each do |game| %>
        <div class="stream-item">
          <!-- Play button that takes you to the live event -->
          <%= link_to raw('<i class="far fa-play-circle"></i>'), game, :method =>"get", class:"live" %>

          <!-- Team division -->
          <div class="teams">
            <!-- Team details on left -->
            <div class="home-team">
              <!-- Home team logo -->
              <%= link_to image_tag(game.home_club.logo), game.home_club %>
              <p class="name-city"><%= link_to game.home_club.name, game.home_club %></p>
              <!--<p class="name-team">RIDERS</p>-->
            </div>
            <p class="at">VS</p>
            <!-- Team details on right -->
            <div class="away-team">
              <!-- Away team logo-->
              <%= link_to image_tag(game.away_club.logo), game.away_club  %>
              <p class="name-city"><%= link_to game.away_club.name, game.away_club %></p>
              <!--<p class="name-team">RAIDERS</p>-->
            </div>

          </div>
          <!-- Fixture information -->
          <div class="fixture-details">
            <!-- Tipoff time -->
            <p class="time"><%= game.tip_time.strftime("%H:%M") %></p>
            <% if game.is_live? %>
              <p class="live-marker"><i class="fas fa-circle"></i> LIVE</p>
            <% end %>
          </div>
          <div class="competition">
            <!-- Competition logo -->
            <%= link_to image_tag(game.competition.logo), competition_path(game.competition) %>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>

<h1 class="heading">Upcoming British basketball live streams</h1>
<div class="container">
  <!-- Dynamically insert date -->
  <% @grouped_games.each do |hash_elements|%>
  <h2 class="comp-date"><%= hash_elements.first %></h2>
  <!-- Stream Info is set as grid with 3 columns and auto rows -->
  <div class="stream-info">
    <!-- Stream item is a single item created dynamically for each entry -->
    <% hash_elements.last.each do |game| %>
    <div class="stream-item">
      <!-- Play button that takes you to the live event -->
        <%= link_to raw('<i class="far fa-play-circle"></i>'), game, :method =>"get", class:"live" %>

      <!-- Team division -->
      <div class="teams">
        <!-- Team details on left -->
        <div class="home-team">
          <!-- Home team logo -->
          <%= link_to image_tag(game.home_club.logo), game.home_club %>
          <p class="name-city"><%= link_to game.home_club.name, game.home_club %></p>
          <!--<p class="name-team">RIDERS</p>-->
        </div>
        <p class="at">VS</p>
        <!-- Team details on right -->
        <div class="away-team">
          <!-- Away team logo-->
          <%= link_to image_tag(game.away_club.logo), game.away_club  %>
          <p class="name-city"><%= link_to game.away_club.name, game.away_club %></p>
          <!--<p class="name-team">RAIDERS</p>-->
        </div>

      </div>
      <!-- Fixture information -->
      <div class="fixture-details">
        <!-- Tipoff time -->
        <p class="time"><%= game.tip_time.strftime("%H:%M") %></p>
        <% if game.is_live? %>
        <p class="live-marker"><i class="fas fa-circle"></i> LIVE</p>
        <% end %>
      </div>
      <div class="competition">
        <!-- Competition logo -->
        <%= link_to image_tag(game.competition.logo), competition_path(game.competition) %>
      </div>
    </div>
    <% end %>
  </div>

  <% end %>
</div>
  <%= link_to 'Submit Your Live Stream', new_game_path, class:"btn btn-warning" %>
</div>



