<p id="notice"><%= notice %></p>

<h1 class="heading">Upcoming British basketball live streams</h1>
</br>
<% @grouped_games.each do |hash_elements|%>
  <h3 class="heading"> <%= hash_elements.first %> </h3>
  <table>
    <thead>
    <tr>
      <th>Tip time</th>
      <th>Home team</th>
      <th>Away team</th>
      <th>Competition</th>
      <th>Live stats</th>
      <th>Stream</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% hash_elements.last.each do |game| %>
      <tr>
        <td><%= game.tip_time.strftime("%H:%M") %></td>
        <td><%= game.home_club.name %></td>
        <td><%= game.away_club.name %></td>
        <td><%= game.competition.name %></td>
        <td><%= game.live_stats_url %></td>
        <td><%= game.stream_url %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />
<% end %>
<%= link_to 'New Game', new_game_path %>