<script>
  (function($) {
    $(function(){
      const isNewRoute = location.pathname.endsWith('new');
      const gameHomeClubId = $('#game_home_club_id');
      const gameAwayClubId = $('#game_away_club_id');
      const gameHomeClubOptionGroups = $('#game_home_club_id > optgroup');
      const gameAwayClubOptionGroups = $('#game_away_club_id > optgroup');
      const gameCompetitionId = $('#game_competition_id');

      function updateMenuOptions(selectedGameText, gameHomeClubValue, gameAwayClubValue) {
        const teamOptionGroups = [
          gameHomeClubOptionGroups,
          gameAwayClubOptionGroups,
        ];

        for (let teamOptionGroup of teamOptionGroups) {
          for (let optionGroup of teamOptionGroup) {
            const optionGroupLabel = optionGroup.label;

            if (optionGroupLabel === selectedGameText) {
              optionGroup.style.display = "inherit";
            } else {
              optionGroup.style.display = "none";
            }
          }

          gameHomeClubId[0].value = gameHomeClubValue;
          gameAwayClubId[0].value = gameAwayClubValue;
        }
      }

      function handleCompetitionChange(event) {
        const gameCompetitionMenuOptions = event.target.options;
        const selectedGameIndex = event.target.selectedIndex;
        const selectedGameText = gameCompetitionMenuOptions[selectedGameIndex].innerText;

        updateMenuOptions(selectedGameText, null, null);
      }

      const initialSelectedGameText = gameCompetitionId[0].options[0].innerText;
      if (!isNewRoute) {
        updateMenuOptions(initialSelectedGameText, gameHomeClubId[0].value, gameAwayClubId[0].value);
      } else {
        updateMenuOptions(initialSelectedGameText, null, null);
      }

      gameCompetitionId.change(handleCompetitionChange);
    });
})(jQuery)
</script>
<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label "Competition" %>
    <%= form.collection_select(:competition_id, Competition.all, :id, :name, {}, { :multiple => false } ) %>
  </div>
  </br>

  <div class="field form-group">
    <%= form.label "Home Team" %>
    <%= form.grouped_collection_select(:home_club_id, Competition.order(:name), :clubs, :name, :id, :name, {}, { :multiple => false } ) %>
  </div>
  </br>

  <div class="field form-group">
    <%= form.label "Away Team" %>
    <%= form.grouped_collection_select(:away_club_id, Competition.order(:name), :clubs, :name, :id, :name, {}, { :multiple => false } ) %>
  </div>
  </br>


  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label :tip_time %>
    <%= form.time_field game.formatted_tip_time, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :stream_url, class:"form-control", placeholder: "Stream link" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :live_stat_url, class:"form-control", placeholder: "Stats link" %>
  </div>
  </br>

  <div class="actions">
    <%= form.submit class: 'form-btn' %>
  </div>
<% end %>
