<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Competition" %>
    <%= form.collection_select(:competition_id, Competition.all, :id, :name, {}, { :multiple => false } ) %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label "Home Team" %>
    <%= form.collection_select(:home_club_id, Club.all, :id, :name, {}, { :multiple => false } ) %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label "Away Team" %>
    <%= form.collection_select(:away_club_id, Club.all, :id, :name, {}, { :multiple => false } ) %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label :tip_time %>
    <%= form.time_select :tip_time, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :stream_link, class:"form-control", placeholder: "Stream link" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :live_stats_link, class:"form-control", placeholder: "Stats link" %>
  </div>
  </br>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
