<script>
  (function($) {
    $(function(){
      const isNewRoute = location.pathname.endsWith('new');
      const gameHometeamId = $('#game_home_team_id');
      const gameAwayteamId = $('#game_away_team_id');
      const gameHometeamOptionGroups = $('#game_home_team_id > optgroup');
      const gameAwayteamOptionGroups = $('#game_away_team_id > optgroup');
      const gameCompetitionId = $('#game_competition_id');

      function updateMenuOptions(selectedCompetitionText, gameHometeamValue, gameAwayteamValue) {
        const teamOptionGroups = [
          gameHometeamOptionGroups,
          gameAwayteamOptionGroups,
        ];

        for (let teamOptionGroup of teamOptionGroups) {
          for (let optionGroup of teamOptionGroup) {
            const optionGroupLabel = optionGroup.label;

            if (optionGroupLabel === selectedCompetitionText) {
              optionGroup.style.display = "inherit";

              for (option of optionGroup.children) {
                option.style.display = "inherit"
              }
            } else {
              optionGroup.style.display = "none";

              for (option of optionGroup.children) {
                option.style.display = "none"
              }
            }
          }

          gameHometeamId[0].value = gameHometeamValue;
          gameAwayteamId[0].value = gameAwayteamValue;
        }

        if (gameHometeamValue) {
          updateOpposingteamOptionVisiblity(selectedCompetitionText, gameAwayteamOptionGroups, gameHometeamValue)
        }

        if (gameAwayteamValue) {
          updateOpposingteamOptionVisiblity(selectedCompetitionText, gameHometeamOptionGroups, gameAwayteamValue)
        }
      }

      function updateOpposingteamOptionVisiblity(selectedCompetitionText, optionGroups, teamValue) {
        for (let optionGroup of optionGroups) {
          const optionGroupLabel = optionGroup.label;

          if (optionGroupLabel === selectedCompetitionText) {
            optionGroup.style.display = "inherit";

            for (option of optionGroup.children) {
              if (option.value === teamValue) {
                option.style.display = "none"
              } else {
                option.style.display = "inherit"
              }
            }
          }
        }
      }

      function handleCompetitionChange(event) {
        const gameCompetitionMenuOptions = event.target.options;
        const selectedGameIndex = event.target.selectedIndex;
        const selectedCompetitionText = gameCompetitionMenuOptions[selectedGameIndex].innerText;

        updateMenuOptions(selectedCompetitionText, null, null);
      }

      function handleCompetitionTeamChange(event) {
        updateMenuOptions(
          gameCompetitionId[0].options[gameCompetitionId[0].options.selectedIndex].innerText,
          gameHometeamId[0].value,
          gameAwayteamId[0].value,
        );
      }

      const initialSelectedGameText = gameCompetitionId[0].options[0].innerText;
      if (!isNewRoute) {
        updateMenuOptions(initialSelectedGameText, gameHometeamId[0].value, gameAwayteamId[0].value);
      } else {
        updateMenuOptions(initialSelectedGameText, null, null);
      }

      gameCompetitionId.change(handleCompetitionChange);
      gameHometeamId.change(handleCompetitionTeamChange);
      gameAwayteamId.change(handleCompetitionTeamChange);
    });
})(jQuery)
</script>
<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label "Competition" %>
    <%= form.collection_select(:competition_id, Competition.all, :id, :name, {}, { :multiple => false, :required => true } ) %>
  </div>
  </br>

  <div class="field form-group">
    <%= form.label "Home Team" %>
    <%= form.grouped_collection_select(:home_team_id, Competition.order(:name), :teams, :name, :id, :name, {}, { :multiple => false, :required => true } ) %>
  </div>
  </br>

  <div class="field form-group">
    <%= form.label "Away Team" %>
    <%= form.grouped_collection_select(:away_team_id, Competition.order(:name), :teams, :name, :id, :name, {}, { :multiple => false, :required => true } ) %>
  </div>
  </br>


  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_field :date, :required => true, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.label :tip_time %>
    <%= form.time_field :tip_time, :required => true, class:"form-control" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :stream_url, :required => true, class:"form-control", placeholder: "Stream link" %>
  </div>
  </br>
  <div class="field form-group">
    <%= form.text_field :live_stat_url, class:"form-control", placeholder: "Stats link" %>
  </div>
  </br>

  <div class="actions">
    <%= form.submit class: 'form-btn' %>
  </div>
<% end %>
