
<h1 class="heading"><%= @game.home_club.name %> vs <%= @game.away_club.name %> </h1>
<h2 class="heading">Live Stream</h2>

<iframe width="100%" height="500" src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(@game.stream_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="game-details">
<p>
  <strong>Date:</strong>
  <%= @game.date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Tip time:</strong>
  <%= @game.tip_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Home team:</strong>
  <%= link_to @game.home_club.name, @game.home_club %>
</p>

<p>
  <strong>Away team:</strong>
  <%= link_to @game.away_club.name, @game.away_club %>
</p>

<p>
  <strong>Competition:</strong>
  <%= link_to @game.competition.name, @game.competition %>
</p>

<p>
  <strong>Stream:</strong>
  <%= link_to image_tag("emojis/tv.png"), @game.stream_url, target: "_blank" %>
</p>

<p>
  <strong>Live stats:</strong>
  <%= link_to image_tag("emojis/bar-chart.png"), @game.live_stat_url, target: "_blank" %>
</p>
</div>

<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', root_path %>
<% end %>