<p id="notice"><%= notice %></p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @game.away_team %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @game.competition %>
</p>

<p>
  <strong>Live stats:</strong>
  <%= @game.live_stats %>
</p>

<p>
  <strong>Tip time:</strong>
  <%= @game.tip_time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @game.stream %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
