<% content_for :meta_title, "#{@game.home_vs_away} - Live Stream" %>
<% content_for :meta_description, "#{@game.home_vs_away} live stream from the #{@game.competition.name}." %>
<% content_for :meta_image, ('player_thumb.png') %>

<h1 class="heading"><%= @game.home_vs_away %></h1>
<h2 class="heading"><%= @game.competition.name %></h2>
<h2 class="heading">Live Stream</h2>
  <% if @game.stream_url.include?('youtube') %>
  <iframe width="100%" height="500" src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(@game.stream_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% else %>
    <div class="background-player">
    <%= link_to image_tag('player_thumb.png'), @game.stream_url, target: "_blank" %>
        <div class="home-team-logo-player">
          <%= image_tag(@game.home_team.logo) %>
        </div>
        <div class="away-team-logo-player">
        <%= image_tag(@game.away_team.logo) %>
        </div>
      </div>
  <% end %>
<div class="game-show">
  <div class="game-show-body">
    <div class="game-show-home-team">
      <div class="game-show-team-abr">
        <%= link_to @game.home_team.abbreviation, @game.home_team %>
      </div>
      <div class="game-show-team-name">  
        <%= link_to @game.home_team.decorated_name, @game.home_team %>
      </div>
      <div class="game-show-team-logo">
        <%= link_to image_tag(@game.home_team.logo), @game.home_team %>
      </div>
    </div>
    <div class="game-show-comp">
      <div class="game-show-date">  
        <%= @game.date.strftime("%d/%m/%Y") %>
      </div>
      <div class="game-show-comp-logo">
        <%= link_to image_tag(@game.competition.logo), @game.competition %>
      </div>
      <div class="game-show-time">  
        <%= @game.formatted_tip_time  %>
      </div>
    </div>
    <div class="game-show-away-team">
      <div class="game-show-team-logo">
        <%= link_to image_tag(@game.away_team.logo), @game.away_team %>
      </div>
      <div class="game-show-team-name">
        <%= link_to @game.away_team.decorated_name, @game.away_team %>
      </div>
      <div class="game-show-team-abr">
        <%= link_to @game.away_team.abbreviation, @game.away_team %>
      </div>
    </div>
  </div>
  <div class="game-show-links">
    <% if @game.stream_url? %>
    <div class="game-show-link__stream">
    <a href='<%= @game.stream_url %>' target="_blank">
    STREAM <i class="fas fa-video"></i>
    </a>
  </div>
  <% end %>
  <% if @game.live_stat_url? %>
    <div class="game-show-link__follow">
      <a href='<%= @game.live_stat_url %>' target="_blank">
      FOLLOW <i class="fas fa-chart-bar"></i>
      </a>
    </div>
    <% end %>
  </div>
  <div class="game-show-controls">
    <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', root_path %>
  <% end %></div>
</div>
