<%= form_with(model: live_stat) do |form| %>
  <% if live_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(live_stat.errors.count, "error") %> prohibited this live_stat from being saved:</h2>

      <ul>
        <% live_stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
