<% content_for :meta_title, 'British Basketball Live Stream Archive' %>
<% content_for :meta_description, 'Archive of British basketball live streams' %>



<h1 class='heading'><%= 'British Basketball Live Stream Archive' %></h1>
<table class='table'>
  <thead>

  <tr>
    <th>Competition</th>
    <th>Home team</th>
    <th>Away team</th>
    <th>Date</th>
    <th>Tip time</th>
    <th>Stream link</th>
    <th>Live stats link</th>
    <% if current_user && current_user.admin %>
      <th colspan='3'></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @past_games.each do |game| %>
    <tr>
      <td><%= link_to image_tag(game.competition.logo, size: '40x40'), competition_path(game.competition) %></td>
      <td><%= link_to game.home_team.decorated_name, game.home_team %></td>
      <td><%= link_to game.away_team.decorated_name, game.away_team %></td>
      <td><%= game.date.strftime('%d/%m/%Y') %></td>
      <td><%= game.formatted_tip_time %></td>
      <td><%= link_to image_tag('emojis/tv.png'), game_path(game), target: '_blank' %></td></td>
      <td><%= link_to image_tag('emojis/bar-chart.png'), game.live_stat_url, target: '_blank' %></td>
      <% if current_user && current_user.admin %>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class='pagination-links'>
  <%= will_paginate @past_games %>
</div>
